#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.fill-mobile {
  width: 100%;
  max-width: 800px;
  flex: 1;
  padding-bottom: 5em;
}

@media (max-width: 750px) {
  .fill-mobile {
    width: 100%;
  }
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
p {
  margin: 0;
  padding: 10px 0;
}
.MuiToolbar-root li {
  margin: 1px 3px;
}

.card {
  padding: 2em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-grow {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.ml-sm {
  margin-left: 0.5rem;
}
.mr-sm {
  margin-right: 0.5rem;
}

.ml-l {
  margin-left: 1rem;
}
.mr-l {
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-sm {
  margin-bottom: 1rem;
}
.mb-l {
  margin-bottom: 2rem;
}

.bg-white {
  background-color: rgba(240, 238, 226, 0.5);
}
.bg-light {
  background-color: var(--color3);
}
.bg-dark {
  background-color: var(--color2);
}

.border-light {
  border: 1px solid var(--color2);
}
.border-dark {
  border: 1px solid var(--color2);
}

.round-top {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.round-bot {
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 1;

  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--color2);
  border: 1px solid var(--text);
}

.harvest-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color2);
  border: 1px solid var(--text);
}

.harvest-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
}

.harvest-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input-sm {
  width: 4rem;
}
.input-lg {
  width: 8rem;
}
.harvest-input {
  padding: 0.25rem;
  text-align: center;
}

.harvest-year-label {
  margin-left: 0.2rem;
}

.table-container .table-header {
  border-bottom: 0px;
}
.table-container table th {
  background-color: var(--color3);
}
.border th:first-of-type {
  border-left: 1px solid var(--color2);
}
.border th:last-of-type {
  border-right: 1px solid var(--color2);
}

.instructions {
  margin: 0.1rem;
  font-size: 0.8rem;
}
pre {
  text-align: left;
  margin: 0.3rem;
}

.ulven-t .pallekarm {
  display: none;
}
