:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  background-image: url("./assets/bg_0.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  --color1: #f9c7d4;
  --color2: #859e91;
  --color3: #c3d0a8;
  --color4: #f0eee2;
  --color5: #f7e0e4;
  --color6: #99ac73;
  --text: #242524;
  --radius: 8px;

  color: var(--text);
  background-color: var(--color5);
}

input,
.input-styling {
  color: var(--text);
  border: 1px solid var(--text);
  background-color: var(--color3);
}
a {
  color: var(--text);
}
a:hover {
  color: var(--color1);
}

pre {
  margin: 0;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--text);
  background-color: var(--color2);
  border-radius: var(--radius);
  border: 1px solid var(--text);
  margin: 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 30px;
  min-height: 30px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:hover {
  background-color: var(--color1);
}
button[disabled] {
  color: var(--color3);
}
button.active {
  background-color: var(--color5);
}
button.empty {
  color: var(--color3);
}
button.mini-button  {
  width: 30px;
  height: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.border table th,
.border table td {
  border-bottom: 1px solid var(--color2);
}
.cursor-pointer {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
}

.text-white {
  color: white;
}
.text-red {
  color: red;
}
.font-bold {
  font-weight: bold;
}
